:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Style to hide the spinner controls in number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: #333;
  color: #fff;
  display: grid;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

section {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px 30px;
}

section > div {
  display: flex;
  flex-direction: column;
  position: relative;
}

div > span {
  color: #333;
  position: absolute;
  left: 50px;
  top: 29px;
  font-weight: 700;
}

input[type="number"] {
  width: 180px;
  padding: 5px;
  font-size: 1.2rem;
  background-color: #bbb;
  transition: all 200ms;
}

input:focus {
  background-color: #fff;
}

.small {
  width: 55px;
  position: relative;
}

input[type="number"]::after {
  content: "kjkh";
  color: red;
  margin-right: 5px;
}

ul {
  list-style-type: none;
  line-height: 2rem;
}

ul span {
  font-weight: 700;
}

ul span.euro:after {
  content: " €";
  font-weight: 700;
}

li:first-child span {
  font-size: 1.3rem;
}

li::before {
  content: "\f061";
  font: var(--fa-font-solid);
  margin-right: 8px;
  font-size: 0.8rem;
}

li > span.info::before {
  content: "\f05a";
  font: var(--fa-font-solid);
  margin-right: 8px;
  font-size: 0.8rem;
}

.smallInput {
  width: 30px !important;
}

.mediumInput {
  width: 100px !important;
}

h3 {
  width: 100%;
  text-align: center;
}

.green {
  color: #6ae46a;
}

.red {
  color: #f27777;
}

h3 {
  width: 100%;
  padding-block: 31px;
}
